---
import { cn } from "@/lib/utils";
import Seperator from "../seperator.astro";
import BlockHeading from "./block-heading.astro";

interface Props {
  id: string;
  className?: string;
  heading: {
    title: string;
    subtitle: string;
    className?: string;
  };
  body?: {
    className?: string;
  };
  seperator?: {
    loading: "eager" | "lazy";
  };
}

const { id, heading, seperator, body, className }: Props = Astro.props;
---

<section id={id} class={cn("px-4 py-8 antialiased", className)}>
  {seperator && <Seperator loading={seperator.loading} />}

  <div class="max-w-screen-md mx-auto">
    <BlockHeading
      title={heading.title}
      subtitle={heading.subtitle}
      className={heading.className}
    />
  </div>
  <div class={cn("mb-8 lg:mb-16", body?.className)}>
    <slot />
  </div>
</section>
