---
import { SendHorizonalIcon } from "lucide-react";
import FormTextBox from "./ui/form-text-box.astro";
import FormTextArea from "./ui/form-text-area.astro";
import BlockElement from "./block/block-element.astro";

import {
  emailLabel,
  emailPlaceholder,
  messageLabel,
  messagePlaceholder,
  nameLabel,
  namePlaceholder,
  button,
  subtitle,
  title,
  privacyNotice,
} from "@/customisations/contact-form.json";
import Button from "./ui/button.astro";
---

<BlockElement
  id="contact"
  heading={{ title, subtitle, className: "text-primary" }}
  seperator={{ loading: "lazy" }}
>
  <div class="max-w-screen-md mx-auto">
    <form name="contact" action="/functions/enquiry" class="space-y-8">
      <FormTextBox
        id="email"
        type="email"
        label={emailLabel}
        placeholder={emailPlaceholder}
      />

      <FormTextBox
        id="name"
        type="text"
        label={nameLabel}
        placeholder={namePlaceholder}
      />

      <input class="hidden" name="number" />

      <FormTextArea
        id="message"
        label={messageLabel}
        placeholder={messagePlaceholder}
      />

      <Button Icon={SendHorizonalIcon} type="submit" text={button} />
      <div class="text-sm text-center">
        {privacyNotice} Read our <a
          href="/privacy-policy"
          class="hover:underline underline-offset-2 text-primary"
          >Privacy Policy</a
        >.
      </div>
    </form>
  </div>
</BlockElement>
