---
import { ArrowRight } from "lucide-react";

import { Image } from "astro:assets";
import heroImage from "@/images/hero.png";

import Seperator from "./seperator.astro";

import {
  button,
  imageAlt,
  lineOne,
  lineTwo,
  title,
} from "@/customisations/hero.json";
import Button from "./ui/button.astro";
---

<section class="px-4 py-8 antialiased">
  <Seperator loading="eager" />
  <div
    class="grid max-w-screen-xl mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 justify-center lg:justify-start"
  >
    <div
      class="lg:mr-auto place-self-center lg:col-span-7 text-center lg:text-left"
    >
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-primary"
      >
        {title}
      </h1>
      <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl">
        {lineOne}
      </p>
      <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl">
        {lineTwo}
      </p>

      <a href="/#contact" class="hidden lg:block">
        <Button Icon={ArrowRight} type="button" text={button} />
      </a>
    </div>
    <div class="lg:mt-0 lg:col-span-5">
      <Image
        loading={"eager"}
        src={heroImage}
        alt={imageAlt}
        quality={100}
        height={1500}
        width={1500}
        class="w-full rounded-lg"
      />
    </div>
    <a href="/#contact" class="mt-6 lg:hidden block">
      <Button Icon={ArrowRight} type="button" text={button} />
    </a>
  </div>
</section>
