---
import Seperator from "./seperator.astro";
import { SendHorizonal } from "lucide-react";

interface Props {
    title: string;
    subtitle: string;
    emailLabel: string;
    emailPlaceholder: string;
    subjectLabel: string;
    subjectPlaceholder: string;
    messageLabel: string;
    messagePlaceholder: string;
    submitButton: string;
    siteUrl: string;
}

const {
    title,
    emailLabel,
    emailPlaceholder,
    messageLabel,
    messagePlaceholder,
    subjectLabel,
    subjectPlaceholder,
    submitButton,
    subtitle,
    siteUrl,
} = Astro.props;
---

<section id="contact" class="px-4 py-8 antialiased">
    <Seperator loading="lazy" />
    <div class="max-w-screen-md mb-8 lg:mb-16 mx-auto">
        <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-center text-primary"
        >
            {title}
        </h2>
        <p class="mb-8 lg:mb-16 font-light text-center sm:text-xl">
            {subtitle}
        </p>
        <form
            name="contact"
            data-netlify="true"
            netlify-honeypot="bot-field"
            class="space-y-8"
        >
            <input
                class="hidden"
                type="hidden"
                name="subject"
                value={`[${siteUrl}] New website enquiry`}
            />
            <input class="hidden" name="bot-field" />

            <div>
                <label for="email" class="block mb-2 font-medium">
                    {emailLabel}
                </label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    class="shadow-sm bg-input text-input-foreground border border-input-border rounded-lg focus:ring-1 focus:ring-primary block w-full p-2.5"
                    placeholder={emailPlaceholder}
                    required
                />
            </div>
            <div>
                <label for="subject" class="block mb-2 font-medium">
                    {subjectLabel}
                </label>
                <input
                    type="text"
                    id="subject"
                    name="subject"
                    class="block p-3 w-full text-input-foreground bg-input rounded-lg border border-input-border shadow-sm focus:ring-primary"
                    placeholder={subjectPlaceholder}
                    required
                />
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 font-medium">
                    {messageLabel}
                </label>
                <textarea
                    id="message"
                    rows="6"
                    name="message"
                    class="block p-2.5 w-full text-input-foreground bg-input rounded-lg shadow-sm border border-input-border focus:ring-primary"
                    placeholder={messagePlaceholder}></textarea>
            </div>
            <button
                type="submit"
                class="group inline-flex items-center justify-center py-3 px-5 font-medium text-center text-white rounded-lg bg-primary w-full focus:ring-4 focus:outline-none focus:ring-primary"
            >
                {submitButton}
                <SendHorizonal
                    className="w-5 h-5 ml-2 -mr-1 transition-transform duration-100 group-hover:-rotate-12"
                />
            </button>
        </form>
    </div>
</section>
