---
import { Image } from "astro:assets";
import logo from "@/images/group-badge.png";
import type { NavigationLink } from "@/models/navigation-link";

interface Props {
    addressTitle: string;
    contactTitle: string;
    headerAltText: string;
    sectionsTitle: string;
    groupName: string;
}

const { addressTitle, contactTitle, groupName, headerAltText, sectionsTitle } =
    Astro.props;

const links: NavigationLink[] = [
    {
        text: sectionsTitle,
        url: "/#sections",
        target: "_self",
    },
    {
        text: addressTitle,
        url: "/#address",
        target: "_self",
    },
    {
        text: contactTitle,
        url: "/#contact",
        target: "_self",
    },
];
---

<div class="flex flex-col items-center gap-4 pt-8">
    <Image
        loading={"eager"}
        src={logo}
        alt={headerAltText}
        quality={100}
        width={128}
        height={128}
        class="aspect-square"
    />
    <h1 class="text-5xl text-center font-extrabold tracking-tight">
        {groupName}
    </h1>
    <ul class="flex flex-wrap items-center justify-center gap-4 mx-2">
        {
            links &&
                links.map((link) => (
                    <li>
                        <a
                            class="text-center hover:underline"
                            href={link.url}
                            target={link.target}
                        >
                            {link.text}
                        </a>
                    </li>
                ))
        }
    </ul>
</div>
