---
import { getCollection } from "astro:content";
import Seperator from "./seperator.astro";
import Image from "astro/components/Image.astro";

const sections = (await getCollection("sections")).sort((a, b) => {
    return a.data.order - b.data.order;
});

interface Props {
    title: string;
    subtitle: string;
}

const { subtitle, title } = Astro.props;
---

<section id="sections" class="px-4 py-8 antialiased">
    <Seperator loading="eager" />
    <div class="max-w-screen-md mb-8 lg:mb-16 text-center mx-auto">
        <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-center text-primary"
        >
            {title}
        </h2>
        <p class="mb-8 lg:mb-16 font-light text-center sm:text-xl">
            {subtitle}
        </p>
    </div>
    <div
        class="max-w-screen-lg mx-auto mt-8 lg:mt-16 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
        {
            sections &&
                sections.map(({ data }) => (
                    <div class="text-center">
                        <Image
                            loading={"eager"}
                            src={data.image}
                            alt={data.name}
                            width={256}
                            height={256}
                            quality={100}
                            class="mx-auto mb-4 w-64 h-64 sm:h-auto sm:w-auto rounded-2xl"
                        />

                        <h3 class="mb-1 text-2xl font-bold tracking-tight">
                            {data.name}
                        </h3>
                        <p class="text-sm mb-1">{data.age} years</p>
                        <p>{data.meetingDay}</p>
                        <p>
                            {data.meetingStartTime} til {data.meetingEndTime}
                        </p>
                    </div>
                ))
        }
    </div>
</section>
